{% extends "basic.html" %}


{% block title %}Удаление объявления{% endblock %}


{% block content %}
<h2>Удаление объявления: <a href="url 'bboard:detail_bb' bb.pk">{{ bb.title }}</a></h2>
<p>Рубрика: {{ bb.rubric.name }}</p>
<p>Описание: {{ bb.content }}</p>
<p>Цена: {{ bb.price }}</p>
<em>Дата создания: {{ bb.published }}</em>
<form method="post">
	{% csrf_token %}
	<input type="submit" value="Удалить">
</form>
<input type=button value="Предыдущая страница" onClick="javascript:history.go(-1);">	
{% endblock %}